<div class="flex-container">


<p>Chihualli salsa sinds 2021</p>
<p>Chihualli salsa is ontstaan uit liefde voor de pittige saus</p>
<p>Er wordt alleen gebruikt gemaakt van verse ingredienten en er ligt een nadruk op dat de ingredienten die gebruikt worden biologisch gemaakt zijn</p>
<p>Daarnaast vind je in Chiualli sauzen geen E-nummers en ook geen toegevoegde kleurstoffen, alles puur natuur dus :)</p>
<p>Het gebruik van suiker probeer ik in iedere saus zo laag mogelijk te houden en waar mogelijk fruit te gebruiken</p>

<p>Om het milieu te besparen is er Chiualli wisselgeld, ieder leeg flesje dat je uiteindelijk weer inlevert is 50 cent waard </p>

</div> 